~$DailyFiltered.xlsx
Analysis.xlsx
chromedriver.exe
Bets_Today.xlsx
compare.xlsx
DailyBets.xlsx
DailyFiltered.xlsx
DailyFilteredx.xlsx
table_definition_.csv
Analysis.xlsx
Bets_Today.xlsx
.gitignore
wta.log
